body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10,32px);
  grid-template-rows: repeat(20,32px);
  background-image: url(./atlantis.png);
  background-repeat: no-repeat;
  width: 320px;
  margin: auto;
}

.square {
  border: none;
  font-size: .7em;
  border-radius: 0;
  background: transparent;
}

.square:focus {
  outline: none;
}

.active {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(./mer_8_chars1.png);
  background-position: -231px -5px;
  border: none;
  animation: float infinite 1s steps(1,end);
}

.arrows button  {
  background-color: #000;
  color: #fff;
  border: 1px ridge #fff;
  margin: 2px;
  font-size: 2em;
  width: 46px;
  height: 46px;
}

@keyframes float {
  from {
    background-position: -230px -5px;
  }
  25% {
    background-position: -256px -5px;
  }
  50% {
    background-position: -282px -5px;
  }
  75% {
    background-position: -256px -5px;
  }
}