body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10,32px);
  grid-template-rows: repeat(20,32px);
  background-image: url(./atlantis.png);
  background-repeat: no-repeat;
  width: 320px;
  margin: auto;
}

.square {
  border: none;
  font-size: .7em;
  border-radius: 0;
  background: transparent;
  text-align: center;
}

.square:focus {
  outline: none;
}

.active {
  display: inline-block;
  width: 19px;
  height: 35px;
  background-image: url(./pink-front.png);
  background-repeat: no-repeat;
  border: none;
  animation: float infinite 1s steps(1,end);
}

.left {
  background-image: url(./pink-left.png);
}

.right {
  background-image: url(./pink-right.png);
}

.up {
  background-image: url(./pink-up.png);
}

.arrows button  {
  background-color: #000;
  color: #fff;
  border: 1px ridge #fff;
  margin: 2px;
  font-size: 2em;
  width: 46px;
  height: 46px;
}

@keyframes float {
  from {
    background-position: 0 0;
  }
  25% {
    background-position: -26px 0;
  }
  50% {
    background-position: -52px 0;
  }
  75% {
    background-position: -26px 0;
  }
}